* {
  box-sizing: border-box;
}
img {
  vertical-align: middle;
}
.clear {
  clear: both;
}
.clear:after {
  display: block;
  clear: both;
  height: 0;
}
.web-size {
  width: 1200px;
  clear: both;
  margin: 0 auto;
}
.web-size:after {
  display: block;
  clear: both;
  height: 0;
}
.header {
  position: relative;
  width: 100%;
  height: 60px;
  background: #464c5b;
  color: #fff;
}
.header h1 {
  display: block;
  float: left;
  width: 200px;
  text-align: center;
  line-height: 60px;
}
.header h1 img {
  width: 180px;
  height: 40px;
}
.menu {
  float: left;
  width: 600px;
  height: 60px;
  background: #464c5b;
}
.menu .ivu-menu-light {
  background: none;
}
.menu .ivu-menu-light .ivu-menu-submenu-title {
  color: #fff;
}
.menu .ivu-menu-light .ivu-menu-item a {
  color: inherit;
}
.menu .ivu-menu-horizontal.ivu-menu-light:after {
  display: none;
}
.menu .ivu-menu-light.ivu-menu-horizontal .ivu-menu-item-active {
  border-bottom: none;
  background: rgba(0, 0, 0, 0.3);
}
.contain {
  padding: 0 0 0 200px;
  width: 100%;
}
.tree {
  clear: both;
}
.tree:after {
  display: block;
  clear: both;
  height: 0;
}
.tree ul,
.tree li,
.tree p {
  position: relative;
}
.tree ul:after,
.tree li:after,
.tree p:after {
  position: absolute;
  display: block;
  content: '';
}
.tree ul li input[type="text"] {
  width: 170px;
  height: 30px;
  margin-top: 10px;
  padding: 0 10px;
  border: solid 1px #d1d1d1;
}
.tree > ul {
  border-left: dotted 1px #3399ff;
}
.tree > ul > li > ul {
  margin-bottom: 10px;
}
.tree > ul > li > ul > li {
  margin-left: 30px;
}
.tree > ul > li > ul > li:after {
  top: 0;
  left: -30px;
  width: 30px;
  height: 25px;
  border-bottom: dotted 1px #3399ff;
}
.tree > ul > li > ul > li > ul {
  border-left: dotted 1px #3399ff;
  margin: -20px 0 10px -1px;
  padding-top: 20px;
}
.tree > ul > li > ul > li > ul:after {
  bottom: 0;
  left: -1px;
  width: 1px;
  height: 25px;
  background: #fff;
}
.tree > ul > li > ul > li > ul > li {
  margin-left: 30px;
}
.tree > ul > li > ul > li > ul > li:after {
  top: 0;
  left: -30px;
  width: 30px;
  height: 25px;
  border-bottom: dotted 1px #3399ff;
}
.tree > ul > li:nth-last-child(1) > ul > li:nth-last-child(1) > ul:before {
  position: absolute;
  top: -5px;
  left: -31px;
  width: 1px;
  height: 103%;
  background: #fff;
  content: '';
}
.tree > ul p {
  margin-left: 15px;
  height: 50px;
}
.tree > ul p:after {
  width: 6px;
  height: 6px;
  position: absolute;
  top: 22px;
  left: -18px;
  z-index: 2;
  border-radius: 50%;
  background: #3399ff;
}
.tree > ul:before {
  position: absolute;
  top: 0;
  left: -1px;
  z-index: 2;
  width: 1px;
  height: 25px;
  background: #fff;
  content: '';
}
